.nav{
    padding: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__logo{
        font-size: 3rem;
        color: #fff;
        font-weight: 400;
    }
    
    &__list{
        display: flex;
    }
    
    &__item{
        list-style: none;
        font-size: 1.8rem;
        font-weight: 600;
        &:not(:last-child){
            margin-right: 3.5rem;
        }
    }
    
    &__link{
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
    }
    
    &__icon-link{
        text-decoration: none;
        font-size: 1.8rem;
        color: #fff;
        display: inline-block;
        
        &:not(:last-child){
            margin-right: 1.2rem;
        }
    }
}

.header{
    position: relative;
    
    &__text-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    &-primary{
        color: #fff;
        
        &--main{
            font-size: 5rem;
            display: block;
            margin-bottom: 3rem;
            font-weight: 300;
        }
        &--sub{
            font-size: 30px;
            display: block;
        }
    }
    
    &__btn{
        text-decoration: none;
        padding: .8rem 3rem;
        font-size: 2rem;
        color: #fff;
        background: var(--color-primary);
        text-transform: capitalize;
        margin-top: 2.5rem;
        display: inline-block;
    } 
}


.about{
    margin: 3rem 18rem;
    
    &__text-box{
        width: 45rem;
        &:not(:last-child){
            margin-right: 4rem;
        }
    }
    
    &__heading{
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 2rem;
        color: var(--color-heading-gray);
    }
    
    &__text{
        text-align: justify;
        font-size: 1.5rem;
        line-height: 2;
        margin-bottom: 2rem;
    }
    
    &__btn{
        text-decoration: none;
        padding: .8rem 2.8rem;
        font-size: 1.5rem;
        color: #fff;
        background: var(--color-primary);
        text-transform: capitalize;
        display: inline-block;
    }
}

.service{
    
    
    &__heading{
        margin-bottom: 3rem;
        text-align: center;
        display: block;
        font-size: 3.8rem;
        font-weight: 300;
        color: var(--color-heading-gray);
    }
    
    &__box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    &__item{
        padding: 4rem;
        flex: 0 0 50%;
        display: flex;
        align-items: center;
    }
    
    &__icon-box{
        width: 11rem;
        height: 9rem;
        background: var(--color-primary);
        border-radius: 50%;
        position: relative;
        margin-right: 2rem;
        display: block;
    }
    
    &__icon{
        color: #fff;
        font-size: 4rem;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    &__name{
        display: block;
        margin-right: 2rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: var(--color-heading-gray);
    }
    
    &__text{
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-text-light);
    }
}


.invitation{
    margin: 5rem 10rem;
    
    &__card{
        display: flex;
        justify-content: center;
        margin-bottom: 8rem;
    }
    
    &__heading-1{
        font-size: 2.4rem;
        font-weight: 400;
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        color: var(--color-heading-gray);
    }
    &__heading-2{
        font-size: 3.8rem;
        font-weight: 400;
        display: block;
        text-align: center;
        margin-bottom: 3.5rem;
        color: var(--color-heading-gray);
    }
    
    &__text-box{
        margin-top: 2rem;
        text-align: center;
    }
    
    &__text-heading{
        font-size: 3.5rem;
        font-weight: 300;
        color: #999;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    &__img-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        
        &:not(:last-child){
            margin-right: 4.5rem;
        }
    }
    
    &__img-name{
        font-size: 2.4rem;
        margin-top: 2rem;
        color: var(--color-primary);
    }
    
    &__text-box{
        margin-right: 4.5rem;
    }
    
    &__text{
        font-size: 1.6rem;
        color: #999;
        margin-bottom: 1rem;
    }
    
    &__date{
        font-size: 1.8rem;
        color: var(--color-primary);
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-weight: 400;
    }
    
    
    &__place{
        font-size: 1.6rem;
        color: #999;
    }
}

.gallery{
    margin: auto 10rem;
    margin-bottom: 10rem;
    
    &__heading{
        display: block;
        text-align: center;
        color: var(--color-heading-gray);
        font-size: 3.8rem;
        font-weight: 400;
        margin-bottom: 5rem;
    }
    
    &__box{
        display: flex;
        justify-content: center;
    }
    
    &__left{
        width: 50rem;
        height: 59rem;
        margin-right: 3.5rem;
    }
    
    &__right{
        width: 45rem;
        height: 28rem;
        margin-bottom: 2.95rem;
    }
}


.status{
    width: 100%;
    height: 100vh;
    background-image: url(../img/img-8.jpg);
    background-size: cover;
    background-position: top;
    background-blend-mode: color;
    background-color: rgba(black,.56);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    margin-bottom: 10rem;
    
    &__text-box{
        color: #fff;
        padding: 2rem;
    }
    
    &__text{
        font-size: 5.5rem;
        display: block;
        font-weight: 400;
        margin-bottom: 2.5rem;
        line-height: 1.2;
    }
    
    &__name{
        font-size: 3.5rem;
        font-weight: 400;
    }
}

.blog{
    padding: 1rem;
    
     &__heading{
        display: block;
        text-align: center;
        font-size: 3.8rem;
        font-weight: 400;
        color: var(--color-heading-gray);
        margin-bottom: 2.5rem;
    }
    
    &__box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    
    &__date-box{
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        position: relative;
        top: 6rem;
        left: 1rem;
        z-index: 10;
    }
    
    &__date{
        color: #fff;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    
    &__img{
        width: 33rem;
        height: 25rem;
        position: relative;
        z-index: 1;
    }
    
    &__party{
        font-size: 2.4rem;
        font-weight: 400;
        margin: .8rem 0;
        color: var(--color-text-gray);
    }
    
    &__text{
        font-size: 1.3rem;
        font-weight: 400;
        color: var(--color-text-gray);
        line-height: 1.8;
    }
}


.form{
    
    
    &__box{
        width: 45rem;
        height: 47rem;
    }
    
    &__heading{
        display: block;
        text-align: center;
        font-size: 3.8rem;
        font-weight: 400;
        margin-bottom: 7rem;
        color: var(--color-heading-gray);
    }
    
    &__label{
        font-size: 1.5rem;
        color: #8d8d8d;
    }
    
    &__input{
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid #999;
        margin-bottom: 3rem;
    }
    
    &__msg-label{
        font-size: 1.5rem;
        color: #8d8d8d;
        margin-bottom: 3rem;
        display: block;
    }
    
    &__textarea{
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 2px solid #8d8d8d;
        margin-bottom: 2rem;
    }
    
    &__btn{
        text-decoration: none;
        padding: .5rem 2rem;
        font-size: 1.5rem;
        border-radius: 1px;
        font-weight: 400;
        color: #fff;
        background: var(--color-primary);
        text-transform: capitalize;
        margin-top: 2.5rem;
        display: inline-block;
        margin-left: 15rem;
    }
}



.footer{
    position: relative;
    z-index: 1;
    
    &__heading{
        display: block;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        color: #fff;
        margin-bottom: 4rem;
    }
    
    &__up-iconbox{
        width: 10rem;
        height: 10rem;
        background: var(--color-primary);
        border-radius: 50%;
        border: 4px solid #fff;
        box-sizing: border-box;
        position: absolute;
        top: -5rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 10;
    }
    
    &__up-icon{
        font-size: 6rem;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    
    &__icons{
        margin-bottom: 2rem;
    }
    
    &__icon-link{
        font-size: 1.8rem;
        text-decoration: none;
        color: #fff;
        
        &:not(:last-child){
            margin-right: 1.2rem;
        }
    }
    
    &__nav{
        margin-bottom: 2rem;
        
        &-list{
           display: flex; 
        }
        
        &-item{
            list-style: none;
            font-size: 1.5rem;
            font-weight: 400;
            
            &:not(:last-child){
                margin-right: 3rem;
            }
        }
        
        &-link{
            text-decoration: none;
            color: #fff;
        }
        
    }
    
    &__legal-text{
        font-size: 1.5rem;
        font-weight: 400;
        color: #fff;
    }
    
}